
.title {
    font-size: 3rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.input {
    /* display: flex; */
    /* align-items: center; */
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;

}
.tfa {
    /* display: flex; */
    /* align-items: center; */
    margin-left: auto;
}